<ion-header>
  <ion-toolbar>
    <ion-title>Absent List</ion-title>
    <!-- <ion-buttons>
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col size="12">
  <div class="table-card">
    <div class="table-container">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Student Number</th>
            <!-- <th>Name</th>
            <th>Surname</th> -->
            <th>Action</th>
          </tr>
        </thead>
     <tbody>
      <ng-container  *ngFor="let student of students" >
        <tr>
          <td>{{ student.studentNumber }}</td>
          <!-- <td></td> 
          <td></td>  -->
          <td>
            <ion-button (click)="markStudentAsAttendee(student)">Mark as Attendee</ion-button>
          </td> 
        </tr>
      </ng-container>
     </tbody>
      </table>
    </div>
  </div>
  </ion-col>
</ion-row>
