<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="people-outline"></ion-icon>
      <span>Announcement</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let announcement of announcements">
      <ion-label>
        <h2>{{ announcement.moduleCode }}</h2>
        <h2>{{ announcement.title }}</h2>
        <p>{{ announcement.content }}</p>
        <p><small>By: {{ announcement.userEmail }} on {{ announcement.formattedDate }}</small></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

