<ion-header>
  <ion-toolbar>
    <ion-title>Weekly Timetable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select Faculty</ion-label>
    <ion-select [(ngModel)]="selectedFaculty" (ionChange)="onFacultyChange()">
      <ion-select-option *ngFor="let faculty of faculties" [value]="faculty.name">
        {{ faculty.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select Course</ion-label>
    <ion-select [(ngModel)]="selectedCourse" (ionChange)="onCourseChange()" [disabled]="!selectedFaculty">
      <ion-select-option *ngFor="let course of loadCourses()" [value]="course">
        {{ course }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select Module Code</ion-label>
    <ion-select [(ngModel)]="selectedModuleCode" [disabled]="!selectedFaculty || !selectedCourse">
      <!-- Access the moduleCode property of each module in allModules -->
      <ion-select-option *ngFor="let module of allModules" [value]="module.moduleCode">
        {{ module.moduleCode }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select Day</ion-label>
    <ion-select [(ngModel)]="selectedDay">
      <ion-select-option *ngFor="let day of daysOfWeek" [value]="day">
        {{ day }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Room</ion-label>
    <ion-input [(ngModel)]="room"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Time Slot</ion-label>
    <ion-input [(ngModel)]="timeSlot"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addTimetable()">
    Submit Timetable
  </ion-button>


</ion-content>
