<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile">
        <ion-label>Back</ion-label>
      </ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="toggleUserInfo()" class="user-button">
        <ion-label>{{ currentUser.name }}</ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
 
    <div class="scanner-frame">
      <div *ngIf="isScanning">
      <video #scannerPreview *ngIf="isWeb"></video></div>
      <div class="scan-line" *ngIf="!isWeb"></div>
    </div>
    <div class="button-container">
      <ion-button expand="block" (click)="startScan()">Start Scan</ion-button>
      <ion-button expand="block" (click)="stopScan()">Stop Scan</ion-button>
    </div>
    <ion-text *ngIf="scanResult">
      <h2>Scan Result:</h2>
      <p>{{ scanResult }}</p>
    </ion-text>
  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button class="color-primary">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button class="color-secondary" routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="color-secondary" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>
</ion-content>
