<!-- stude-scan.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Student Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
    <div class="scanner-frame">
      <video #scannerPreview></video>
      <div class="scan-line"></div>
    </div>
    <div class="button-container">
      <ion-button expand="block" (click)="startScan()">Start Scan</ion-button>
      <ion-button expand="block" (click)="stopScan()">Stop Scan</ion-button>
    </div>
    <ion-text *ngIf="scanResult">
      <h2>Scan Result:</h2>
      <p>{{ scanResult }}</p>
    </ion-text>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button class="color-primary">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button class="color-secondary" routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="color-secondary" (click)="presentViewModal()">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
