ion-header {
    --background: #EECC8C;  
    --color: white; 
  }
  
  ion-toolbar {
    --background: #EECC8C; 
  }
  
  ion-title {
    color: white; 
  }
  
  ion-buttons {
    ion-button {
      color: white; 
    }
  }
  
  ion-content {
    --background: #ff9800; 
    ion-list {
      ion-item {
        --background: #ff9800; 
        ion-label {
          color: white; 
        }
      }
    }
  }
  
  ion-button {
    --background: blue; 
    --color: white; 
    --border-radius: 4px; 
    --padding: 8px 16px;
  }
  