<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Dept Analytics</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="navigateToDeptAnalysis()">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Dept Analytsis</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToLogin()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">

  <ion-grid>
    <!-- Lecturer Table and Search Card -->
    <ion-card *ngIf="!showStudents">
      <ion-card-content>
        <ion-card *ngIf="showLecturerSearchCard">
          <ion-card-header>
            <ion-searchbar [(ngModel)]="searchStaffNumber" (ionInput)="searchLecturers()" placeholder="Search by Staff Number"></ion-searchbar>
          </ion-card-header>
        </ion-card>

        <!-- Lecturer Table -->
        <table>
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Position</th>
              <th>Staff Number</th>
              <th>Department</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lecturer of displayedLecturers">
              <td>{{ lecturer.fullName }}</td>
              <td>{{ lecturer.email }}</td>
              <td>{{ lecturer.position }}</td>
              <td>{{ lecturer.staffNumber }}</td>
              <td>{{ lecturer.department }}</td>
              <td>
                <ion-button (click)="deleteLecturer(lecturer.staffNumber)" class="icon-only delete-icon">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>    
          </tbody>
        </table>

        <!-- Lecturer Table Pagination -->
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="prevLecturerPage()" [disabled]="currentLecturerPage === 1">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="nextLecturerPage()" [disabled]="currentLecturerPage * lecturersPageSize >= lecturers.length">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ion-card-content>
    </ion-card>

    <!-- Student Table and Search Card -->
    <ion-card *ngIf="showStudents">
      <ion-card-content>
        <ion-card *ngIf="showStudentSearchCard">
          <ion-card-header>
            <ion-searchbar [(ngModel)]="searchStudentNumber" (ionInput)="searchStudents()" placeholder="Search by Student Number"></ion-searchbar>
          </ion-card-header>
        </ion-card>

        <!-- Student Table -->
        <table>
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Student Number</th>
              <th>Surname</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of displayedStudents">
              <td>{{ student.fullName }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.studentNumber }}</td>
              <td>{{ student.surname }}</td>
              <td>
                <ion-button (click)="deleteStudent(student.studentNumber)" class="icon-only delete-icon">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Student Table Pagination -->
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="prevStudentPage()" [disabled]="currentStudentPage === 1">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="nextStudentPage()" [disabled]="currentStudentPage * studentsPageSize >= students.length">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showStudents" (click)="toggleStudentTable()" color="maroon">
        View Students
      </ion-button>
      <ion-button *ngIf="showStudents" (click)="backToLecturerTable()">
        Lecturer Table
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
