<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="custom-title"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" class="close-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitForm()" class="form">
    <p class="title">Attendify</p>
    <p class="message">Add Lecturer to Attendify app</p>

    <div class="flex">
      <label>
        <input required="" placeholder="" type="text" class="input" [(ngModel)]="fullName" name="fullName">
        <span>Full Name</span>
      </label>

      <label>
        <input required="" placeholder="" type="text" class="input" [(ngModel)]="staffNumber" name="staffNumber">
        <span>Staff Number</span>
      </label>
    </div>

    <label>
      <input required="" placeholder="" type="email" class="input" [(ngModel)]="email" name="email">
      <span>Email</span>
    </label>

    <label>
      <input required="" placeholder="" type="text" class="input" [(ngModel)]="position" name="position">
      <span>Position</span>
    </label>

    <!-- Faculty Dropdown -->
    <label>
      <ion-select [(ngModel)]="selectedFaculty" (ionChange)="onFacultyChange($event)" name="faculty" interface="popover">
        <ion-select-option *ngFor="let faculty of faculties" [value]="faculty">{{ faculty }}</ion-select-option>
      </ion-select>
      <span>Faculty</span>
    </label>

    <!-- Department Dropdown (Populated based on selected Faculty) -->
    <label>
      <ion-select [(ngModel)]="selectedDepartment" name="department" interface="popover">
        <ion-select-option *ngFor="let department of departments" [value]="department">{{ department }}</ion-select-option>
      </ion-select>
      <span>Department</span>
    </label>

    <button type="submit" class="submit">Submit</button>
  </form>
</ion-content>
