

ion-header {
    --background: #ff9800;
  }
  
  ion-toolbar {
    --background-color: #d9a544; 
   
  }
  .custom-title {
    color: #ffffff; 
    text-align: center;
  }
  
  ion-content {
    --background: #6d3735; 
  }
  
  
  ion-card {
    color: #267e98; 
    margin: 16px; 
  }
  
  
  ion-card-header {
    background-color: #d9a544; 
  }
  
  
  ion-card-title {
    color: #ffffff; 
  }
  
  
  ion-input, ion-textarea, ion-select {
    --background: #ffffff;
    color:black; 
    margin-bottom: 16px; 
  }
  
  
  ion-button {
    background-color: #00546f;
    color: #ffffff; 
    margin-top: 8px; 
  }
  
  
  ion-list {
    margin: 16px; 
  }
  
  
  ion-item {
    color: #267e98; 
    border-radius: 8px; 
    margin-bottom: 8px; 
  }
  
  
  ion-button[fill="outline"] {
    --background: transparent; 
    --border-color: #00546f; 
    color: #00546f; 
  }
  
  
  ion-icon {
    color: #ffffff; 
  }
  