<!-- academia-management.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Faculty  Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="academiaForm" class="form-container">
    <!-- Selection Section -->
    <div class="selection-grid">
      <ion-item class="custom-item">
        <ion-label position="floating">Select Faculty</ion-label>
        <ion-select formControlName="faculty" interface="action-sheet">
          <ion-select-option *ngFor="let faculty of faculties" [value]="faculty">
            {{faculty}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Department</ion-label>
        <ion-select formControlName="department" interface="action-sheet">
          <ion-select-option *ngFor="let department of departments" [value]="department">
            {{department}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Stream</ion-label>
        <ion-select formControlName="stream" interface="action-sheet">
          <ion-select-option *ngFor="let stream of streams" [value]="stream">
            {{stream}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Module</ion-label>
        <ion-select formControlName="module" interface="action-sheet">
          <ion-select-option *ngFor="let module of modules" [value]="module.module">
            {{module.module}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <ion-button expand="block" (click)="populate()" color="tertiary">
        POPULATE
      </ion-button>
      <ion-button expand="block" (click)="clear()" color="medium">
        CLEAR
      </ion-button>
    </div>

    <!-- Input Fields -->
    <div class="input-fields">
      <ion-item class="custom-item">
        <ion-label position="floating">Faculty Name</ion-label>
        <ion-input formControlName="facultyName" type="text"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Department Name</ion-label>
        <ion-input formControlName="departmentName" type="text"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Module Name</ion-label>
        <ion-input formControlName="moduleName" type="text"></ion-input>
      </ion-item>

      <div class="fields-row">
        <ion-item class="custom-item">
          <ion-label position="floating">Credits</ion-label>
          <ion-input formControlName="credits" type="number"></ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-label position="floating">Year</ion-label>
          <ion-input formControlName="year" type="number"></ion-input>
        </ion-item>
      </div>
    </div>

    <!-- CRUD Buttons -->
    <div class="crud-buttons">
      <ion-button expand="block" (click)="addModule()" color="success">
        ADD
      </ion-button>
      <ion-button expand="block" color="warning">
        UPDATE
      </ion-button>
      <ion-button expand="block" color="danger">
        DELETE
      </ion-button>
    </div>
  </form>
</ion-content>