<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Faculty Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="academiaForm" class="form-container">
    <!-- Selection Section -->
    <div class="selection-grid">
      <ion-item class="custom-item">
        <ion-label position="floating">Select Faculty</ion-label>
        <ion-select formControlName="faculty" interface="action-sheet">
          <ion-select-option *ngFor="let faculty of faculties" [value]="faculty.id">
            {{faculty.id}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Department</ion-label>
        <ion-select formControlName="department" interface="action-sheet" [disabled]="!selectedFaculty">
          <ion-select-option *ngFor="let dept of selectedFaculty?.departments" [value]="dept.name">
            {{dept.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Stream (Optional)</ion-label>
        <ion-select formControlName="stream" interface="action-sheet" [disabled]="!selectedDepartment">
          <ion-select-option *ngFor="let stream of availableStreams" [value]="stream">
            {{stream}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Select Module</ion-label>
        <ion-select formControlName="selectedModule" interface="action-sheet" [disabled]="!selectedDepartment">
          <ion-select-option *ngFor="let module of modules" [value]="module.moduleCode">
            {{module.moduleName}} ({{module.moduleCode}})
          </ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="selectedDepartment && modules.length === 0">
          No modules available
        </ion-note>
      </ion-item>
    </div>

    <!-- Module Details Form -->
    <div formGroupName="moduleDetails" class="input-fields">
      
      <ion-item class="custom-item">
        <ion-label position="floating">Module Name</ion-label>
        <ion-input formControlName="moduleName" type="text"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Module Code</ion-label>
        <ion-input formControlName="moduleCode" type="text"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Module Level</ion-label>
        <ion-input formControlName="moduleLevel" type="text"></ion-input>
      </ion-item>

  
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <ion-button expand="block" (click)="clear()" color="medium">
        CLEAR
      </ion-button>
      <ion-button 
        expand="block" 
        (click)="addModule()" 
        color="success" 
        [disabled]="!academiaForm.get('faculty')?.value || 
                    !academiaForm.get('department')?.value || 
                    !academiaForm.get('selectedModule')?.value">
        ADD MODULE
      </ion-button>
    </div>
  </form>
</ion-content>
