<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="book-outline"></ion-icon>
      <span>Add Module</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="module-form-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="add-circle-outline"></ion-icon>
        Add New Module
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Faculty Dropdown -->
      <ion-item class="form-item">
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>Faculty Name</ion-label>
        <ion-select [(ngModel)]="facultyName" (ionChange)="onFacultyChange($event)" placeholder="Select Faculty"
          interface="action-sheet">
          <ion-select-option *ngFor="let faculty of faculties$ | async">{{ faculty }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Department Dropdown -->
      <ion-item class="form-item">
        <ion-icon name="git-branch-outline" slot="start"></ion-icon>
        <ion-label>Department Name</ion-label>

        <ion-select [(ngModel)]="departmentName" placeholder="Select Department" interface="action-sheet">
          <ion-select-option *ngFor="let department of departments$ | async">
            {{department}}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item *ngIf="facultyName" class="form-item">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label position="floating">Course Name</ion-label>
        <ion-input [(ngModel)]="courseName" placeholder="Enter Course Name" class="custom-input"></ion-input>
      </ion-item>

      <!-- Stream Input -->
      <ion-item class="form-item">
        <ion-icon name="trail-sign-outline" slot="start"></ion-icon>
        <ion-label position="floating">Stream</ion-label>
        <ion-input [(ngModel)]="streamName" placeholder="Enter Stream" class="custom-input"></ion-input>
      </ion-item>

      <!-- Module Name Input -->
      <ion-item class="form-item">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label position="floating">Module Name</ion-label>
        <ion-input [(ngModel)]="moduleName" placeholder="Enter Module Name" class="custom-input"></ion-input>
      </ion-item>

      <!-- Module Code Input -->
      <ion-item class="form-item">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label position="floating">Module Code</ion-label>
        <ion-input [(ngModel)]="moduleCode" placeholder="Enter Module Code" class="custom-input"></ion-input>
      </ion-item>


      <!-- Credits Input -->
      <ion-item class="form-item">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label position="floating">Credits</ion-label>
        <ion-input [(ngModel)]="credits" type="number" placeholder="Enter Module Credits"
          class="custom-input"></ion-input>
      </ion-item>

      <!-- Year Input -->
      <ion-item class="form-item">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label position="floating">Year</ion-label>
        <ion-input [(ngModel)]="year" placeholder="Enter Year" class="custom-input"></ion-input>
      </ion-item>

      <!-- Add Module Button -->
      <ion-button expand="full" (click)="addModule()" class="submit-button">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Add Module
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

