<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentConfirmationAlert()" class="logout-button">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="toggleUserInfo()" class="user-button">
        <ion-label>{{ currentUser.name }}</ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-badge *ngIf="notifications.length > 0" color="danger">{{ notifications.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-content">
  <div class="frame">
    <div class="spacer"></div>

    <ion-card *ngIf="showUserInfo" class="user-info-card">
      <div class="user-info">
        <div class="user-info-item">
          <ion-icon name="school-outline"></ion-icon>
          <div class="info-text">
            <p>{{ currentUser.moduleCode }}</p>
          </div>
        </div>

        <div class="user-info-item">
          <ion-icon name="finger-print-outline"></ion-icon>
          <div class="info-text">
            <p>{{ currentUser.studentNumber }}</p>
          </div>
        </div>

        <div class="user-info-item">
          <ion-icon name="person-outline"></ion-icon>
          <div class="info-text">
            <p>{{ currentUser.name }}</p>
          </div>
        </div>

        <div class="user-info-item">
          <ion-icon name="people-outline"></ion-icon>
          <div class="info-text">
            <p>{{ currentUser.surname }}</p>
          </div>
        </div>

        <div class="user-info-item">
          <ion-icon name="mail-outline"></ion-icon>
          <div class="info-text">
            <p>{{ currentUser.email }}</p>
          </div>
        </div>
      </div>
      <ion-button fill="clear" class="edit-button" (click)="editUserInfo()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card>
    <ion-card *ngIf="showUserInfo && notifications.length > 0" class="notification-card">
      <ion-card-header>
        <ion-card-title>Notifications</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let notification of notifications">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-label>{{ notification }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!showUserInfo" class="container">
      <h3 class="heading">Welcome</h3>
      <div class="actions-card">
        <div class="cont">
          <div class="navigation-button" [routerLink]="['/student-records']">
            <ion-icon name="document-text"></ion-icon>
            <ion-label>Attendance Records</ion-label>
          </div>
          
          <div class="navigation-button" [routerLink]="['/calender']">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar</ion-label>
          </div>
        </div>
        
        <div class="cont">
          <div class="navigation-button" (click)="openAnnouncementsModal()">
            <ion-icon name="megaphone"></ion-icon>
            <ion-label>Announcements</ion-label>
          </div>

          <div class="navigation-button" routerLink="/stude-scan">
            <ion-icon name="scan"></ion-icon>
            <ion-label>Scan QR Code</ion-label>
          </div>

          <div class="navigation-button" (click)="presentViewModal()">
            <ion-icon name="add"></ion-icon>
            <ion-label>Module Addition</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

