ion-header, ion-toolbar {
  --background: #EECC8C;
}

.header-icon, .header-title, .label, ion-input, ion-textarea {
  color: white;
}

ion-content.announcement-content {
  --background: #ff9800;
}

.submit-button {
  --background: blue;
  --color: white;
}

ion-input, ion-textarea {
  --background: transparent;
  --color: white;
}