<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="people-outline" class="header-icon"></ion-icon>
      <span class="header-title">Make Announcement</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" class="close-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding announcement-content">
  <form class="announcement-form">
    <ion-label position="floating" class="label">Title</ion-label>
    <ion-input [(ngModel)]="title" name="title" required></ion-input>
    
    <ion-label position="floating" class="label">Content</ion-label>
    <ion-textarea [(ngModel)]="content" name="content" required></ion-textarea>
    
    <ion-button expand="block" (click)="submitAnnouncement()" class="submit-button">Submit</ion-button>
  </form>
</ion-content>

