/* Header styles */
.header-icon,
.header-title,
.label {
  color: white;
}

/* Content styles */
.announcement-content {
  background-color: #56231F;
}

/* Submit button styles */
.submit-button {
  --background: blue;
  --color: white;
}

/* Input text styles */
input[type="text"],
input[type="submit"],
input[type="checkbox"],
ion-searchbar {
  color: white; /* Set input text color to white */
  background-color: transparent; /* Optional: makes background transparent for text inputs */
}

/* Custom grid styles */
.custom-grid {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 10px;
  width: 100%;
}

/* Custom styles for square IonCol */
.square-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* Custom styles for IonCard */
.student-card,
.profile-card {
  background: #56231F;
  color: #ffffff;
  width: 200px;
  height: 150px;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: -200px; /* Adjust as needed */
}

@media (max-width: 1000px) {
  .student-card,
  .profile-card {
    width: 150px;
  }

  .student-card {
    margin-left: 20px;
  }
}

/* Custom styles for IonIcon */
.icon {
  font-size: 2rem;
  margin: 10px 0;
}

/* Custom styles for card title */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* Custom styles for the number in the Student Card */
.number {
  font-size: 1.2rem;
}

/* Custom background color */
.custom-background {
  --background: #f4ede1;
}

ion-content {
  --background: #56231F;
}

.addbutton {
  --background: #854836;
}

/* Cards */
ion-card {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

ion-card-header {
  background-color: #EECC8C;
  color: rgb(255, 251, 251);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ff9800;
  color: white;
  height: 40px;
  font-size: 18px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

tbody tr:nth-child(odd),
tbody tr:nth-child(even) {
  background-color: #854836;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30px;
}

td {
  color: rgb(255, 255, 255);
}

/* Contact form styles */
#contact {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #854836;
  color: #262626;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

/* Section header styles */
.sectionheader {
  background-color: #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animation to specific elements */
#contact,
.sectionheader,
p,
.input_wrapper,
.submit_wrapper,
input[type="submit"] {
  animation: fadeIn 1s ease-out;
}

/* Table row highlight */
table tbody tr.selected {
  background-color: #ee1313;
  color: #333;
}

/* Student item styles */
.student-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  --background: #f4f5f8;
}

.student-item ion-label {
  margin: 10px 0;
}

.student-item h2 {
  font-weight: bold;
  color: #333;
}

.student-item p {
  margin: 5px 0;
  color: #666;
}

.student-item ion-icon {
  margin-right: 5px;
  color: #3880ff;
}

/* Avatar icon styles */
.avatar-icon {
  font-size: 2em;
  color: #3880ff;
}

/* Search bar styles */
ion-searchbar {
  --box-shadow: none;
  --background: #f4f5f8;
  --border-radius: 10px;
  padding: 0;
  margin-bottom: 15px;
}

/* Button styles */
ion-button {
  --border-radius: 10px;
}
