ion-content {
  --background: linear-gradient(135deg, #56231F, #a77a20);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #56231F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h4 {
  margin: 0;
  font-weight: bold;
  color: #ffffff;

.timetable-content {
  padding: 16px; 
}

.timetable-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px; 
}

.timetable-table th, .timetable-table td {
  border: 1px solid #a77a20; 
  padding: 8px;
  text-align: center;
}

.timetable-table th {
  background-color: #56231F; 
  color: #ffffff; 
}

.timetable-table td {
  background-color: #ffffff; 
  color: #56231F;
  font-size: 14px;
}
}