<ion-header>
  <ion-toolbar>
    <ion-title>Timetable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="timetable-container">
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>7:00-8:00</th>
          <th>9:00-10:00</th>
          <th>11:00-12:00</th>
          <th>13:00-14:00</th>
          <th>14:05-15:00</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of daysOfWeek">
          <td>{{ day }}</td>
          <td>{{ getModuleForTime(day, '7:00-8:00') }}</td>
          <td>{{ getModuleForTime(day, '9:00-10:00') }}</td>
          <td>{{ getModuleForTime(day, '11:00-12:00') }}</td>
          <td>{{ getModuleForTime(day, '13:00-14:00') }}</td>
          <td>{{ getModuleForTime(day, '14:05-15:00') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
