<ion-content [fullscreen]="true" class="register-content ion-padding">
  <div class="register-container">
    <div class="form-container">
      <h1 class="title">
        <ion-icon name="people-circle-outline" class="title-icon"></ion-icon>
        Attendify Register
      </h1>
      
      <form class="form">
        <ion-item lines="none" class="input-item">
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email" name="email" id="email" [(ngModel)]="email"></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">NAME</ion-label>
          <ion-input type="text" name="name" id="name" [(ngModel)]="name"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">SURNAME</ion-label>
          <ion-input type="text" name="surname" id="surname" [(ngModel)]="surname"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">STUDENT NUMBER</ion-label>
          <ion-input type="text" name="studentnumber" id="studentnumber" [(ngModel)]="studentNumber"></ion-input>
          <ion-icon name="card-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">DEPARTMENT</ion-label>
          <ion-input type="text" name="department" id="department" [(ngModel)]="department"></ion-input>
          <ion-icon name="business-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password" name="password" id="password" [(ngModel)]="password"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-button fill="clear" slot="end" class="forgot-btn">
            <a routerLink="/reset">Forgot Password?</a>
          </ion-button>
        </ion-item>

        <ion-button class="sign-btn" (click)="register()" expand="block">
          SIGN UP
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </form>
    </div>

    <div class="divider-container">
      <div class="divider-line"></div>
      <p class="divider-text">Already have an account?</p>
      <div class="divider-line"></div>
    </div>

    <div class="login-link-container">
      <span>Go to login with your account</span>
      <a routerLink="/login" class="login-link">
        Log-in
        <ion-icon name="log-in-outline"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>